body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

@page {
  size: landscape;
}

.line {
  border-bottom: 2px solid black;
  width: 100%;
}

/* IMAGES */

.screenshot {
  width: 100%;
  height: 20%;
  text-align: center;
}

.img-wrapper {
  display: inline-block; /* change the default display type to inline-block */
  height: auto;
  width: auto;
  transform: scale(0.8, 0.8);
}

/* FONT */

h2 {
  margin-top: 0;
}

h3 {
  text-align: center;
}

.text {
  font-size: 1.5rem;
  color: #444444;
}

.text2x {
  font-size: 2.5rem;
  color: #444444;
}

.headline {
  font-size: 3.5rem;
  font-weight: 700;
  color: #444444;
}

.subheadline {
  font-size: 2rem;
  font-weight: 700;
  color: #444444;
}

.transparent {
  color: transparent;
}

/* LAYOUT */

.padding {
  padding: 10px;
}

.center {
  text-align: center;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
  margin-bottom: 20px;
}

.col {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.colwhite {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}

/* BUTTONS */
.cta_button {
  background-color: #c94857;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
